@import 'bourbon';

@import 'settings/*';
@import 'components/*';

.header-space { padding-top: 40px; }
.jumbotron { background-color: $white !important; }
body {
  font-family: 'rockwellregular', $helvetica !important;
}